<div class="container mx-auto mt-5 pb-5">
  <fieldset class="border p-4 rounded">
    <legend class="text-lg font-bold">User Form</legend>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()" class="space-y-4">
      <div class="flex flex-col">
        <label for="fName" class="text-sm font-medium">First Name</label>
        <input
          type="text"
          formControlName="fName"
          matInput
          class="border rounded-md py-2 px-3 mt-1"
          id="fName"
        />
      </div>
      <div class="flex flex-col">
        <label for="lName" class="text-sm font-medium">Last Name</label>
        <input
          type="text"
          formControlName="lName"
          matInput
          class="border rounded-md py-2 px-3 mt-1"
          id="lName"
        />
      </div>      
      <div class="flex flex-col">
        <label for="email" class="text-sm font-medium">Email</label>
        <input
          type="text"
          formControlName="email"
          matInput
          class="border rounded-md py-2 px-3 mt-1"
          id="email"
        />
      </div>
      <div class="flex flex-col">
        <label for="address" class="text-sm font-medium">Address</label>
        <input
          type="text"
          formControlName="address"
          matInput
          class="border rounded-md py-2 px-3 mt-1"
          id="address"
        />
      </div>
      <div class="flex flex-col">
        <label for="city" class="text-sm font-medium">City</label>
        <input
          type="text"
          formControlName="city"
          matInput
          class="border rounded-md py-2 px-3 mt-1"
          id="city"
        />
      </div>      

      <div class="flex flex-col">
        <label for="state" class="text-sm font-medium">State</label>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option value="alabama">Alabama</mat-option>
            <mat-option value="alaska">Alaska</mat-option>
            <mat-option value="arizona">Arizona</mat-option>
            <mat-option value="arkansas">Arkansas</mat-option>
            <mat-option value="california">California</mat-option>
            <mat-option value="colorado">Colorado</mat-option>
            <mat-option value="connecticut">Connecticut</mat-option>
            <mat-option value="delaware">Delaware</mat-option>
            <mat-option value="florida">Florida</mat-option>
            <mat-option value="georgia">Georgia</mat-option>
            <mat-option value="hawaii">Hawaii</mat-option>
            <mat-option value="idaho">Idaho</mat-option>
            <mat-option value="illinois">Illinois</mat-option>
            <mat-option value="indiana">Indiana</mat-option>
            <mat-option value="iowa">Iowa</mat-option>
            <mat-option value="kansas">Kansas</mat-option>
            <mat-option value="kentucky">Kentucky</mat-option>
            <mat-option value="louisiana">Louisiana</mat-option>
            <mat-option value="maine">Maine</mat-option>
            <mat-option value="maryland">Maryland</mat-option>
            <mat-option value="massachusetts">Massachusetts</mat-option>
            <mat-option value="michigan">Michigan</mat-option>
            <mat-option value="minnesota">Minnesota</mat-option>
            <mat-option value="mississippi">Mississippi</mat-option>
            <mat-option value="missouri">Missouri</mat-option>
            <mat-option value="montana">Montana</mat-option>
            <mat-option value="nebraska">Nebraska</mat-option>
            <mat-option value="nevada">Nevada</mat-option>
            <mat-option value="new-hampshire">New Hampshire</mat-option>
            <mat-option value="new-jersey">New Jersey</mat-option>
            <mat-option value="new-mexico">New Mexico</mat-option>
            <mat-option value="new-york">New York</mat-option>
            <mat-option value="north-carolina">North Carolina</mat-option>
            <mat-option value="north-dakota">North Dakota</mat-option>
            <mat-option value="ohio">Ohio</mat-option>
            <mat-option value="oklahoma">Oklahoma</mat-option>
            <mat-option value="oregon">Oregon</mat-option>
            <mat-option value="pennsylvania">Pennsylvania</mat-option>
            <mat-option value="rhode-island">Rhode Island</mat-option>
            <mat-option value="south-carolina">South Carolina</mat-option>
            <mat-option value="south-dakota">South Dakota</mat-option>
            <mat-option value="tennessee">Tennessee</mat-option>
            <mat-option value="texas">Texas</mat-option>
            <mat-option value="utah">Utah</mat-option>
            <mat-option value="vermont">Vermont</mat-option>
            <mat-option value="virginia">Virginia</mat-option>
            <mat-option value="washington">Washington</mat-option>
            <mat-option value="west-virginia">West Virginia</mat-option>
            <mat-option value="wisconsin">Wisconsin</mat-option>
            <mat-option value="wyoming">Wyoming</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex flex-col">
        <label for="zipCode" class="text-sm font-medium">Zip Code</label>
        <input
          type="text"
          formControlName="zipCode"
          matInput
          class="border rounded-md py-2 px-3 mt-1"
          id="zipCode"
        />
      </div>
      <div class="flex flex-col">
        <label for="phoneNumber" class="text-sm font-medium">Phone Number</label>
        <input
          type="text"
          formControlName="phoneNumber"
          matInput
          class="border rounded-md py-2 px-3 mt-1"
          id="phoneNumber"
        />
      </div>

      <div formGroupName="passwordGroup">
        <div class="flex flex-col">
          <label for="password" class="text-sm font-medium">Password</label>
          <input
            type="password"
            formControlName="password"
            matInput
            class="border rounded-md py-2 px-3 mt-1"
            id="password"
          />
        </div>

        <span class="text-red-500 text-sm mt-1"
          *ngIf="userForm.get('passwordGroup')?.errors?.['mismatch']"
        >
          ** Passwords do not match!
        </span>

        <div class="flex flex-col">
          <label for="confirmPassword" class="text-sm font-medium">Confirm Password</label>
          <input
            type="password"
            formControlName="confirmPassword"
            matInput
            class="border rounded-md py-2 px-3 mt-1"
            id="confirmPassword"
          />
        </div>
      </div>

      <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded">
        Submit
      </button>

      <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-medium py-2 px-4 rounded">
        Set Value
      </button>
      
      <button type="button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-medium py-2 px-4 rounded">
        Patch Value
      </button>
    </form>


    <section class="example-section" [formGroup]="cereal">
      <h4>Choose your favorite Cereal:</h4>
      <p><mat-checkbox formControlName="frostedflakes">Frosted Flakes</mat-checkbox></p>
      <p><mat-checkbox formControlName="cinnamontoastcrunch">Cinnamon Toast Crunch</mat-checkbox></p>
      <p><mat-checkbox formControlName="luckycharms">Lucky Charms</mat-checkbox></p>
      <p><mat-checkbox formControlName="frootloops">Froot Loops</mat-checkbox></p>
      <p><mat-checkbox formControlName="cheerios">Cheerios</mat-checkbox></p>
      <p><mat-checkbox formControlName="ihatecereal">I don't like cereal</mat-checkbox></p>
    </section>
    
    <section class="example-section" [formGroup]="cereal">
      <h4>You chose:</h4>
      {{cereal.value | json}}
    </section>


  </fieldset>

  <div>
    <div>{{ userForm.value | json }}</div>
    <div>Dirty: {{ userForm.dirty }}</div>
    <div>Touched: {{ userForm.touched }}</div>
    <div>Pristine: {{ userForm.pristine }}</div>
    <div>Valid: {{ userForm.valid }}</div>
    <div>First Name Touched: {{ userForm.get("fName")?.touched }}</div>
    <div>First Name Dirty: {{ userForm.get("fName")?.dirty }}</div>
    <div>First Name Valid: {{ userForm.get("fName")?.valid }}</div>

    <small
      class="text-danger"
      *ngIf="userForm.get('fName')?.invalid && userForm.get('fName')?.dirty"
      >**Invalid first name</small
    >
  </div>
</div>
