<div class="container">
  <fieldset>
    <legend>User Form</legend>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="fName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="fName"
          formControlName="fName"
        />
      </div>
      <div class="form-group">
        <label for="lName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lName"
          formControlName="lName"
        />
      </div>      
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          formControlName="address"
        />
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          formControlName="city"
        />
      </div>      
      <div class="form-group">



        <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select>
            <mat-option value="alabama">Alabama</mat-option>
            <mat-option value="alaska">Alaska</mat-option>
            <mat-option value="arizona">Arizona</mat-option>
            <mat-option value="arkansas">Arkansas</mat-option>
            <mat-option value="california">California</mat-option>
            <mat-option value="colorado">Colorado</mat-option>
            <mat-option value="connecticut">Connecticut</mat-option>
            <mat-option value="delaware">Delaware</mat-option>
            <mat-option value="florida">Florida</mat-option>
            <mat-option value="georgia">Georgia</mat-option>
            <mat-option value="hawaii">Hawaii</mat-option>
            <mat-option value="idaho">Idaho</mat-option>
            <mat-option value="illinois">Illinois</mat-option>
            <mat-option value="indiana">Indiana</mat-option>
            <mat-option value="iowa">Iowa</mat-option>
            <mat-option value="kansas">Kansas</mat-option>
            <mat-option value="kentucky">Kentucky</mat-option>
            <mat-option value="louisiana">Louisiana</mat-option>
            <mat-option value="maine">Maine</mat-option>
            <mat-option value="maryland">Maryland</mat-option>
            <mat-option value="massachusetts">Massachusetts</mat-option>
            <mat-option value="michigan">Michigan</mat-option>
            <mat-option value="minnesota">Minnesota</mat-option>
            <mat-option value="mississippi">Mississippi</mat-option>
            <mat-option value="missouri">Missouri</mat-option>
            <mat-option value="montana">Montana</mat-option>
            <mat-option value="nebraska">Nebraska</mat-option>
            <mat-option value="nevada">Nevada</mat-option>
            <mat-option value="new-hampshire">New Hampshire</mat-option>
            <mat-option value="new-jersey">New Jersey</mat-option>
            <mat-option value="new-mexico">New Mexico</mat-option>
            <mat-option value="new-york">New York</mat-option>
            <mat-option value="north-carolina">North Carolina</mat-option>
            <mat-option value="north-dakota">North Dakota</mat-option>
            <mat-option value="ohio">Ohio</mat-option>
            <mat-option value="oklahoma">Oklahoma</mat-option>
            <mat-option value="oregon">Oregon</mat-option>
            <mat-option value="pennsylvania">Pennsylvania</mat-option>
            <mat-option value="rhode-island">Rhode Island</mat-option>
            <mat-option value="south-carolina">South Carolina</mat-option>
            <mat-option value="south-dakota">South Dakota</mat-option>
            <mat-option value="tennessee">Tennessee</mat-option>
            <mat-option value="texas">Texas</mat-option>
            <mat-option value="utah">Utah</mat-option>
            <mat-option value="vermont">Vermont</mat-option>
            <mat-option value="virginia">Virginia</mat-option>
            <mat-option value="washington">Washington</mat-option>
            <mat-option value="west-virginia">West Virginia</mat-option>
            <mat-option value="wisconsin">Wisconsin</mat-option>
            <mat-option value="wyoming">Wyoming</mat-option>
          </mat-select>
        </mat-form-field>





        <label for="zipCode">Zip Code</label>
        <input
          type="text"
          class="form-control"
          id="zipCode"
          formControlName="zipCode"
        />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="text"
          class="form-control"
          id="phoneNumber"
          formControlName="phoneNumber"
        />
      </div>
      <!-- <div class="form-group">
        <label for="mName">Middle Name</label>
        <input
          type="text"
          class="form-control"
          id="mName"
          formControlName="mName"
        />
      </div> -->
      <!-- <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="hasMiddleName"
          formControlName="hasMiddleName"
        />
      </div> -->

      <!-- password form -->

      <div formGroupName="passwordGroup">
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
        </div>

        <span
          class="text-danger"
          *ngIf="userForm.get('passwordGroup')?.errors?.['mismatch']"
        >
          ** Passwords do not match!</span
        >

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            formControlName="confirmPassword"
          />
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

      <button type="button" class="btn btn-secondary" (click)="setValue()">
        Set Value
      </button>
      <button type="button" class="btn btn-secondary" (click)="patchValue()">
        Patch Value
      </button>
    </form>
  </fieldset>

  <div>
    <div>{{ userForm.value | json }}</div>
    <div>Dirty: {{ userForm.dirty }}</div>
    <div>Touched: {{ userForm.touched }}</div>
    <div>Pristine: {{ userForm.pristine }}</div>
    <div>Valid: {{ userForm.valid }}</div>
    <div>First Name Touched: {{ userForm.get("fName")?.touched }}</div>
    <div>First Name Dirty: {{ userForm.get("fName")?.dirty }}</div>
    <div>First Name Valid: {{ userForm.get("fName")?.valid }}</div>

    <small
      class="text-danger"
      *ngIf="userForm.get('fName')?.invalid && userForm.get('fName')?.dirty"
      >**Invalid first name</small
    >
  </div>
</div>
